<div class="app-card-container">
  <div class="card">

    <h1>Would you like to work together?</h1>

    <hr>
    <div>
      <h3>Address</h3>
      <p>San Jose, California</p>
      <h3>Phone</h3>
      <p><%= number_to_phone "4084600029" %></p>
      <h3>Email</h3>
      <p><a href="mailto:matthewaknguyen@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
    </div>

  </div> 
</div>